.toolbar-actions{
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-top: 10px;
	background: #FFF;
}
.toolbar-actions img{
	padding: 3px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.toolbar-actions img:hover{
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 2%, #f6f6f6 49%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#ededed), color-stop(49%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ededed 2%,#f6f6f6 49%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ededed 2%,#f6f6f6 49%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ededed 2%,#f6f6f6 49%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ededed 2%,#f6f6f6 49%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.content-wrapper {
	min-height: 100%;
	background: url("../../images/bgfooter.png") repeat-x center bottom #FFF;
	z-index: 800;
}
.box{
	box-shadow: none;
	background: transparent;
}
.box-footer{
	background: transparent;
}
.app-tools{
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.app-tools .icon .touch{
	padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #C8C8C8;
    border: 1px solid #e6e6e6;
}
.app-tools .icon .touch:hover{
	padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 18px #C8C8C8;
}
.app-tools .name{
	margin-top: 15px;
	margin-bottom: 15px;
}
.app-tools .name a{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
.app-tools .name a:hover{
	color:#666;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.valor{
	font-weight: bold;
	text-transform: uppercase;
}
.btn-toolbar{
	margin-top: 20px;
	display: inline-block;
	margin-bottom: 20px;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-top: 1px solid #CCCCCC !important;
	border-bottom: 2px solid #CCCCCC;
}
.th-detalle{
	border-top: 1px solid #CCCCCC !important;
	border-bottom: 2px solid #CCCCCC;
}
.detalle .panel-default {
    border-color: #ECF0F1;
}
.detalle .panel-default .panel-heading {
    color: #2c3e50;
    background-color: #ECF0F1;
    border-color: #ECF0F1;
}
.skin-blue .main-header .navbar {
	background-color: #94BE1F;
}
.skin-blue .main-header .logo {
	background-color: #065021;
	color: #fff;
	border-bottom: 0 solid transparent;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #065021;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #204556;
}
.skin-blue .sidebar-menu > li > a {
	border-left: 3px solid transparent;
	border-bottom: 1px solid #1A3847;
}
.skin-blue .sidebar-menu > li.header {
	color: #FFF;
	background: #1072a4;
	font-weight: bold;
	font-size: 13px;
}
.skin-blue .sidebar a {
	color: #fff;
}
.box.box-primary {
	border-top-color: #94be1f;
}
.main-footer {
	background: #1e282c;
	padding: 15px;
	color: #FFF;
	border-top: 1px solid #d2d6de;
}
#mixto .form-group{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
.separate{
	margin-top:10px;
}